#container{
    display:flex;
    align-items: center;
    justify-content: center;
    
}
.box{
    background: white;

}
#grid{
    display:flex;
    flex-wrap:wrap;
    align-content: space-evenly;
    align-items:center;
    justify-content:space-evenly;
    
}
.button{
    display:flex;
    justify-content:center;
    align-items:center;
    margin: 20px;
}
button{
    width: 80px;
    height: 30px;
    border-radius: 10px;
    background-color: royalblue;
    color:white;
    font-weight:bold;
    text-align:center;
}

